@define-mixin wh $w: auto, $h: $w {
  width: $w;
  height: $h;
}

@define-mixin minwh $w: auto, $h: $w {
  min-width: $w;
  min-height: $h;
}

@define-mixin maxwh $w: auto, $h: $w {
  max-width: $w;
  max-height: $h;
}

@define-mixin circle $r {
  @mixin wh $r;
  border-radius: $r;
}

@define-mixin absPos $t: initial, $r: initial, $b: initial, $l: initial {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@define-mixin flexy $justify: flex-start, $align: flex-start, $direction: row {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@define-mixin bg $z: 1, $r: 0, $g: 0, $b: 0 {
  box-shadow: 0 2.8px 2.2px rgba($r, $g, $b, calc($z * 0.034)), 0 6.7px 5.3px rgba($r, $g, $b, calc($z * 0.048)),
    0 12.5px 10px rgba($r, $g, $b, calc($z * 0.06)), 0 22.3px 17.9px rgba($r, $g, $b, calc($z * 0.072)),
    0 41.8px 33.4px rgba($r, $g, $b, calc($z * 0.086)), 0 100px 80px rgba($r, $g, $b, calc($z * 0.12));
}

@define-mixin bg $z: 1, $r: 0, $g: 0, $b: 0 {
  box-shadow: 0 2.8px 2.2px rgba($r, $g, $b, calc($z * 0.034)), 0 6.7px 5.3px rgba($r, $g, $b, calc($z * 0.048)),
    0 12.5px 10px rgba($r, $g, $b, calc($z * 0.06)), 0 22.3px 17.9px rgba($r, $g, $b, calc($z * 0.072)),
    0 41.8px 33.4px rgba($r, $g, $b, calc($z * 0.086)), 0 100px 80px rgba($r, $g, $b, calc($z * 0.12));
}
