wh(x, y = x) {width: x; height: y}
minwh(x, y = x) {min-width: x; min-height: y}
maxwh(x, y = x) {max-width: x; max-height: y}
circle(r) {wh(r); border-radius: r}
flexXY(x, y = x) {display: flex; justify-content: x; align-items: y}
flexGutter(size) {
	& > *:not(:first-child) {
		margin-left: size
	}
}
absPos(t, r = t, b = t, l = t){position: absolute; top: t; right: r; bottom: b; left: l}
