:host {
  --input-active: #29a5df;
  --c-active: #275efe;
  --c-active-trans: #275efe55;
  --c-white: #f6f8ff;
  --c-white-1: #e1e6f9;
  --c-white-2: #bbc1e1;

  /* general */
  --cam-unit: 8px;
  --cam-font: sans-serif;

  /* <cam-input> */
  --cam-input-bg: #fff;
  --cam-input-inner-bg: var(--c-white-2);
  --cam-input-border: 1px solid var(--c-white-2);
  --cam-input-border-hover: 1px solid var(--c-active);
  --cam-input-active: var(--c-active);
  --cam-input-active-inner: #fff;
  --cam-input-focus: 2px var(--c-active-trans);
  --cam-input-disabled: var(--c-white-1);
  --cam-input-disabled-inner: var(--c-white-2);
}

cam-button {
}
